/**
 * This is just a CSS example.
 */
@charset "UTF-8";
html, body {
  background: #99F;
  color: #000;
  font-family: Verdana,Arial,sans-serif;
  padding: 0;
  margin: 0;
  font-size: 11px;
}
ol, ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
dfn {
    font-style: normal;
    cursor: help;
    border-bottom: 1px dashed #000;
}
.clear0 {
    clear: both;
}
.outer {
    width: 80%;
    margin: 1% auto;
    border: 1px solid #000;
    background-color: #FFF;
    padding: 2%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-box-shadow: 8px 8px 5px #888;
    -webkit-box-shadow: 8px 8px 5px #888;
}
.noshadow {
	-moz-box-shadow: 0 0 0 0;
	-webkit-box-shadow: 0 0 0 0;
}
.totalwidth {
    width: 100%;
    text-align: center;
}
.upperbar {
	width: 100%;
	background-color: #000;
	color: #FFF;
	height: 25px;
	padding: 5px 0;
}
.upperbar a {
	color: #FFF;
}
.upperbar a:visited {
	color: #DDD;
}
.upperbar a:hover {
	color: #CBCBCB;
}
.maintitle {
	width: 100%;
	background-color: #33F;
	color: #FFF;
	height: 50px;
	padding: 5px 0;
	text-align: center;
}
.maintitle a {
	color: #FFF;
	text-decoration: none;
}
.maintitle a:hover {
	color: #FFF;
	text-decoration: none;
}
.maintitle a:visited {
	color: #FFF;
	text-decoration: none;
}
#wrapper a {
	font-weight: bold;
	color: #00F;
	text-decoration: underline;
}
#wrapper a:hover {
	background-color: yellow;
}
.upperbar a:visited {
	color: #33F;
}
.footer {
	vertical-align: bottom;
	text-align: center;
	width: 100%;
	background-color: #000;
	color: #FFF;
	padding: 5px 0;
}
.footer dfn, .maintitle dfn {
    border-bottom: 1px dashed #EEE;
}
.right {
	float: right;
}
.left {
	float: left;
}
.center {
	text-align: center;
}
.wrapper {
	padding: 0;
	margin: 0;
	clear: both;
	width: 100%;
	height: 100%;
	background-color: #99F;
	display: inline-block;
	color: #000;
}
.content {
	width: 95%;
	background-color: #FFF;
	text-align: center;
	margin: 0 auto;
	padding: 5px 10px;
	min-height: 640px;
	vertical-align: top;
}
#wrapper {
	vertical-align: top;
}
#rightmenu {
	height: 75%;
	width: 25%;
	background-color: #ABABAB;
}
.errortext {
	border:3px solid #F22;
	background-color:#F66;
	padding:2px;
	margin-bottom:10px;
}
.oktext {
	border: 3px solid #2F2;
	background-color: #6F6;
	padding: 2px;
	margin-bottom: 10px;
}
.greybar {
	background-color: #ABABAB;
	color: #FFF;
	padding: 2px;
	text-align: left;
	font-size: 14px;
}
.alternate {
	border: 1px solid #88C;
	background-color: #CDCDFF;
}
#topmenurightwrap {
	display: inline-block;
}
.link {
	padding:5px;
	margin:0;
	height:100%;
}
.redbox {
	border: 1px solid #600;
	background-color: #F44;
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #000;
}
.delthing {
	cursor: pointer;
	font-weight: bold;
}
.delthing#hover {
	text-decoration: underline;
}
#foot a {
	color: #FFF;
}
#foot a:hover {
	color: #CCC;
}
.nouse {
	font-size: 20px;
	padding: 2px;
	margin: 2px;
	color: #000;
	text-decoration: none;
	cursor: not-allowed;
}
.tabs {
    border-bottom: 1px solid #000000;
    margin: 0;
    padding: 0.3em 0;
}
.tabs .tabspacer {
    margin-left: 10em;
}

.tabs li {
    display: inline;
    list-style: none outside none;
    margin: 0 0 0 0.3em;
}
.tabs li strong {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #000000 #000000 white;
    border-style: solid;
    border-width: 1px;
    padding: 0.3em 0.5em;
}
.tabs li a {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #EFEFEF;
    border-bottom-color: #000000 !important;
    border-left: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
    border-style: solid;
    border-top: 1px solid #AAAAAA;
    border-width: 1px;
    color: #0000CC;
    padding: 0.3em 0.5em;
    text-decoration: none;
}
#dex_pokemon .sprite {
    width: 1px;
}
img {
    border: medium none;
}
#dex_pokemon .header {
    padding-left: 1em;
}
#dex_pokemon .ability {
    padding-left: 1em;
    width: 99%;
}
dt {
    font-weight: bold;
    margin: 1em 0 0;
    padding: 0;
}
dd {
    margin-left: 0.7em;
    padding: 0.15em 0 0;
}
table.info {
    border-collapse: collapse;
    border-spacing: 0;
}
table.info th {
    background: url("/media/infoheader.png") repeat-x scroll 0 0 transparent;
    line-height: 25px;
    padding: 0 0 0 0.7em;
    text-align: left;
}
table.info td {
    padding: 0.5em 0.7em;
    vertical-align: top;
}
#dex_pokemon_stats {
    border-collapse: collapse;
    width: 1px;
}
table caption {
    font-weight: bold;
    margin: 0 0 0.7em;
}
#dex_pokemon_stats thead th {
    text-align: left;
}
#dex_pokemon_stats td, #dex_pokemon_stats th {
    padding: 0.2em 0.7em;
}
table.sortable {
    border: 1px solid #000000;
    border-collapse: collapse;
    border-spacing: 0;
}
table.sortable td, table.sortable th {
    border: medium solid #000000;
}
table.sortable th {
    background: none repeat scroll 0 0 #6363B0;
    border-width: 1px;
    color: #FFFFFF;
    font-size: 0.846em;
    padding: 0.5em;
    text-align: left;
    white-space: nowrap;
}
table.sortable td {
    border-width: 0 1px;
    padding: 0.3em;
}
table.sortable td, table.sortable tr.even td {
    background: none repeat scroll 0 0 #FFFFFF;
}
table.sortable .a td, table.sortable tr.odd td {
    background: none repeat scroll 0 0 #CCCCFF;
}
table.sortable tr .header {
    background-image: url("/img/flechas.gif");
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
    padding-right: 20px;
}
.sortable tr:hover {
	background-color: #AAA !important;
}
.tablatipos {
	border-collapse: collapse;
}
.tablatipos td, .tablatipos th {
	border: 1px solid #333;
}
.tablatipos tr:hover {
	background-color: #AAA !important;
}
.vs {
	background-color:#CCC;
	font-weight:bold;
}