<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} ^/(stats|foro|failed_auth\.html).*$ [NC]
RewriteRule . - [L]
</IfModule>
<IfModule mod_rewrite.c>
Options +FollowSymLinks 
RewriteEngine	On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /index.php?actions=$1  [L,QSA]
</IfModule>